* {
    box-sizing: border-box;
}

html {
    color: #e6e6e6;
    font-size: mIn(6vw, 32px);
}

body {
    display: flex;
    margin: 0;
    padding: 1em;
    min-height: 100vh;
    background-color: #343434;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-gap: 1em;
}

.title {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    grid-gap: 1em;
}

.counter-wrap {
    display: flex;
    flex-direction: column;
    grid-gap: 0.6em;
    align-items: center;
}

.mood {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.btn {
    min-width: 2em;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;
}

.counter {
    display: inline-flex;
    grid-gap: 0.2em;
}

.counter__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.2em;
    min-width: 2em;
    background-color: #444444;
    border: 1px solid #525252;
    border-radius: 3px;
    font-family: monospace;
}

.recommended {
    margin: 0;
    text-align: center;
}

.recommended__max-today {
    color: #FFB1A8;
}

.done-btn {
    padding: 0.6em 1em;
    background-color: hsl(120, 60%, 32%);
    border-radius: 3px;
    border: 2px solid #525252;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;
}

.done-btn:active {
    background-color: hsl(120, 60%, 40%);
}

.stats__title {
    margin: 0;
}

.total-days {
    margin: 0;
}

.total-days__count {
    color: #FFB1A8;
}

.cigarettes__label {
    display: inline-flex;
}

.cigarettes__total-available {
    color: #FFB1A8;
}
